.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.App__Pairing {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
